/*
 * delete_confirm.blade.php (会員削除画面) のスタイルシート
 */

.delete-text-wrap {
    border-bottom: 2px solid #c5c0c0;
    margin: 16px;
    padding-bottom: 16px;
}

.delete-text {
    width: 100%;
    margin-left: 30px;
}

.btn-wrap {
    display: flex;
}

.btn-left-wrap, .btn-right-wrap {
    display: block;
    width: 30%;
}

.btn-left {
    margin-left: 58px;
}

.btn-right {
    margin: 0;
}